src/main/resources/xsd/private_key_schema.xsd

<?xml version="1.0"?>
<xs:schema elementFormDefault="qualified" version="1.0"
           targetNamespace="http://www.bbva.com/vega/priv_key"
           xmlns:tns="http://www.bbva.com/vega/priv_key"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="private_key" type="tns:PrivateKeyConfig"/>

    <xs:complexType name="PrivateKeyConfig">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="app_security_id" type="xs:int" use="required"/>
                <xs:attribute name="isKeyEncrypted" type="xs:boolean" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>