src/main/resources/xsd/public_key_schema.xsd

<?xml version="1.0"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.bbva.com/vega/pub_key" xmlns:tns="http://www.bbva.com/vega/pub_key" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="public_key" type="tns:PublicKeyConfig"/>

    <xs:complexType name="PublicKeyConfig">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="app_security_id" type="xs:int" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>